<div class="container">
  <h1>Login</h1>
    <%= form_for :session, url: sessions_path, class:"form-group" do |f| %>
      <p>
        <%= f.label :email %><br>
        <%= f.email_field :email, class:"form-group" %>
      </p>
      <p>
        <%= f.label :password %><br>
        <%= f.password_field :password, class:"form-group" %>
      </p>
      <p>
        <%= f.submit :Login, class:"btn btn-primary" %><br>
      </p>
    <% end %>
</div>
