<% if flash[:error] %>
  <marquee behavior="slide" direction="right"><%= flash[:error] %></marquee>
<% end %>
<h1>Edit Your Online Persona Here, Please. Thanks.</h1>
<%= form_for @user, method: "patch", url: @user do |f|  %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h6><%= button_to 'delete', @user, method: :delete, data: { confirm: "Are you sure?" } %></h6>
