<% if flash[:success] %>
  <marquee behavior="slide" direction="right"><%= flash[:success] %></marquee>
<% elsif flash[:error] %>
  <marquee behavior="slide" direction="right"><%= flash[:error] %></marquee>
<% end %>
<div class="container">
  <h1>Register</h1>
    <%= form_for :user, url: users_path, class:"form-group" do |f|  %>
      <p>
        <%= f.label :name, class:"form-group" %><br>
        <%= f.text_field :name, class:"form-group" %>
      </p>
      <p>
        <%= f.label :email %><br>
        <%= f.email_field :email, class:"form-group" %>
      </p>
      <p>
        <%= f.label :password %><br>
        <%= f.password_field :password, class:"form-group" %>
      </p>
      <p>
        <%= f.submit :Register, class:"btn btn-primary" %>
      </p>
    <% end %>
</div>
