<h2>Welcome, <%= @user.name %>!</h2>

<% if this %>
  <%= link_to "Edit Profile", [:edit, @user] %>
<% end %>

<% if this || is_friend %>
  <ul>
    <h3>Friends:</h3>
    <% @user.friends.each do |friend| %>
      <li><%= link_to("#{friend.name}", user_path(friend)) %></li>
    <% end %>
  </ul>
  <hr>
  <ul>
    <h3>Games:</h3>
    <% @user.games.each do |game| %>
      <li><%=link_to("#{game.name}", game_path(game) )%></li>
    <% end %>
  </ul>
  <% else %>
    <%= render partial: 'friendships/add_friend', locals: { user: @user} %>
<% end %>
