<div class="container">
  <% if flash[:welcome] %>
    <marquee behavior="slide" direction="right"><%= flash[:welcome] %></marquee>
  <% end %>
  <h2><%= @user.name %>'s profile!</h2>

  <% if this %>
    <%= link_to "Edit Profile", [:edit, @user] %>
  <% end %>

  <% if this || is_friend %>
    <h3 class="center-header">Friends:</h3>
    <ul>
      <% @user.friends.each do |friend| %>
        <% friendship = Friendship.where(user: current_user, friend: friend).first %>
        <li><%= link_to("#{friend.name}", user_path(friend)) %><span><%=button_to "Unfriend", user_friendship_path(current_user, friendship), {method: :delete} %> </span></li>
      <% end %>
    </ul>
    <hr>
    <h3 class="center-header">Games:</h3>
    <%= render partial: 'games/sort_panel' %>
    <div id="game-container">
      <% @user.games.each do |game| %>
        <%= render partial: 'games/game_card', locals: {game: game} %>
      <% end %>
    </div>
    <% else %>
      <%= render partial: 'friendships/add_friend', locals: { user: @user} %>
  <% end %>
</div>
